
        .cta-daftar{
            padding:10px;color:#fff;
            font-size:16px;
            font-weight:700;
            text-align:center;
            text-transform:uppercase;
            text-shadow:0 0 2px transparent
        }

        .d-block{display:block}

        .btn-blink{
            border: 2px solid #1fb800;
            border-radius: 7px;
            animation:1s infinite pulse}
            @keyframes pulse{
                0%,100%{transform:scale(.98);
                background:linear-gradient(to top,#1fb800 0,#2feb00 100%)}50%{transform:scale(1);
                    background:linear-gradient(to top,#2feb00 0,#44ff0b 100%)
                }
            }

        .floating{
            background-color: rgba(255, 255, 255, 0);
            position:fixed;
            bottom:0;
            left:0;
            right:0;
            width:100%;
            padding:10px;
            z-index:999
        }
